@font-face {
    font-family: 'GyeonggiBatang'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
    line-height: 200%;
}
body{
    font-family: 'GyeonggiBatang';
    color: #6b4a4a;
    font-size : 25px;
    line-height: 120%;
}
p{
    font-size : 40px;
    line-height: 10%;
    font-weight: 500;
}
a{
    text-decoration:none;
}
    .box{
    background-color:#dbbb4f9f;
    height:500px;
    width:290px;
    border-radius:10px;
    position:relative;
    top:50px;
    } 
    .display{
    background-color:#006666;
    width:220px;
    position:relative;
    left:10px;
    top:20px;
    height:40px;}
    .display input{
    position:relative;
    left:2px;
    top:2px;
    height:35px;
    color:black;
    background-color:#ccffff;
    width:215px;
    font-size:21px;
    text-align:right;}
    .keys{
    position:relative;
    top:15px;}
    .button{
    width:40px;
    height:30px;
    border:none;
    border-radius:8px;
    margin-left:17px;
    cursor:pointer;
    border-top:2px solid transparent;}
    .button.gray{
    color:white;
    background-color:#9d9d9d; 
    border-top: lightgray 2px solid;
    border-bottom:black 2px solid;
    }
    .button.aqua{
    color:rgb(194, 152, 113);
    background-color:rgb(152, 202, 160);
    border-top: blue 2px solid;
    border-bottom:black 2px solid;
    }
    .button.blue{
    color:white;
    background-color:rgb(189, 228, 84);
    border-top:2px rgb(192, 164, 85) solid;
    border-bottom:rgb(219, 189, 105) 2px solid;
    }
    .button.red{
    color:black;
    background-color:rgb(158, 151, 248);
    border-top:2px FF9933 solid;
    border-bottom:black 2px solid;
    }
    .gray:active{
    border-top:black 2px solid;
    border-bottom:2px white solid;}
    .aqua:active{
    border-top:black 2px solid;
    border-bottom:white 2px solid;}
    .blue:active{
    border-top:black 2px solid;
    border-bottom:white 2px solid;}
    .orange:active{
    border-top:black 2px solid;
    border-bottom:white 2px solid;}
    p{
    line-height:10px;
    }