@font-face {
    font-family: 'GyeonggiBatang'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
body{
    font-family: 'GyeonggiBatang';
    color: #6b4a4a;
}
a{
    text-align: center;
    font-weight: 500;
    padding-left:180px;
    padding-right:180px;
    font-size: 50px;
}
a:link { color: #6b4a4a; text-decoration: none;}
a:visited { color: #6b4a4a; text-decoration: none;}
a:hover { color: #6b4a4a; text-decoration: none;}